*{
   margin: 0;
   padding: 0; 
   font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(50,1,80,0.7),rgba(50,1,80,0.7)),url('../image/pathlogy.34.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;

}
.here-btn{
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    text-decoration: none;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.here-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .close, .menu{
    display: none;
    height: 10px;
    width: 10px;
}
.campus{
    flex-basis: 31%;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin:auto;
}

.col{
    display: inline-block;
    border-radius: 10px;
    margin: 30px;
    height: 400px;
    width: 400px;
}
.col img{
    width: 100%;
    height: 100%;
}
.img-col:hover{
    background-image: #f44336;
}
.col p{
    color: black;
    padding: 15px;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    nav .logo{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #e31a0cfa;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .close, .menu{
        display: block;
        color: #fff;
        margin: 10px;
        height: 15px;
        width: 15px;
        cursor: pointer;
    }
}